    git config --global user.name "haodaivshen"
    git config --global user.email "howe2636@gmail.com"
    git config --global color.ui true
    git config --global alias.co checkout
    git config --global alias.ci commit
    git config --global alias.st status
    git config --global alias.br branch
    git config --global core.editor "vim"
    git config -l
